<h1><%= @planet.name %></h1>

<img src="<%= @planet.img_url %>">


<form action="/planets/<%= @planet.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
<button>Delete</button></form>
<a href="/planets/<%= @planet.id %>/edit"><button>Edit</button></a>
<a href="/planets"><button>Back</button></a>

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
   <input type= "hidden" name="planet_id" value="<%= @planet.id %>">
  <p><label for="">Leave a Comment</label></p>
  <textarea class="comment-textarea" name="content"></textarea>
  <button>Comment</button>
</form>

<% @comments.each do |comment| %> 
        <div class="comments-box">
          <p class="comment-content"> <%= comment.content %></p>
        </div>
      <% end %>
 