<header><h1>MOVIE DATABASE SEARCH</h1>
 <h1 class = "title"><%= @movie["Title"] %></h1></header>
<container class = "movies">

  <container class = "movie_image">
    <img src ="<%= @movie["Poster"]%>">
  </container>

  <container class = "movie_info">
    <div class = "director">Director: <%= @movie["Director"]%></div>
    <div class = "year">Year: <%= @movie["Year"]%></div>
    <div class = "rated">Rated: <%= @movie["Rated"]%></div>
    <div class = "country">Country: <%= @movie["Country"]%></div>
    <div class = "rating">Rotten Tomato Rating: <%=@movie["Ratings"][1]["Value"]%></div>
    <div class = "box_office">Box Office: <%=@movie["BoxOffice"]%></div>
    <div class = "plot">Plot: <%=@movie["Plot"]%></div>
  </container>
 
</container>

 <footer class = "link"><a href='/'>Home</a></nav>






